{% extends 'layout.html' %}

{% block content %}
    <div class="container mt-4">
        {% if loggedIn %}
        <div class="mb-2">
            <h1> Hello, {{ firstname  }} {{ surname }}!</h1>

            Create a new post: <a href="/posts/new">Click</a>
        </div>
        {% endif %}

        Registered users:
        <ul>
        {% for user in users %}
            <li>
                user: <a href="/users/{{ user.id }}">{{ user.firstname }} {{ user.surname }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
{% endblock %}
