<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fakebook</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</head>
<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}

<script>
    
    function formatDate(ts) {
        const d = new Date(ts);

        const month = d.toLocaleString(undefined, { month: 'long' });
        const day   = d.getDate();
        const time  = d.toLocaleTimeString([], { hour: '2-digit', minute: '2-digit', hour12: false });

        return `${month} ${day} at ${time}`;
    }

    document.querySelectorAll('.post-date').forEach(el => {
        const ts = el.dataset.ts;
        el.textContent = formatDate(ts);
    });

    const friendRequestBtn = document.querySelector('.friend-request');

    if (friendRequestBtn) {
        friendRequestBtn.addEventListener('click', event => {
            const userId = event.target.dataset.friendRequestTo;
            fetch(`/users/${userId}/friend_requests`, {
                method: 'POST'
            }).then(data => {
                console.log(data);
                return data.text();
            }).then(data => {
                console.log(data);
            })
        });
    }

    const cancelFriendRequestBtn = document.querySelector('.cancel-friend-request');

    if (cancelFriendRequestBtn) {
        cancelFriendRequestBtn.addEventListener('click', event => {
            const userId = event.target.dataset.friendRequestTo;
            fetch(`/users/${userId}/friend_requests`, {
                method: 'DELETE'
            }).then(data => {
                console.log(data);
                return data.text();
            }).then(data => {
                console.log(data);
            })
        });
    }

    const removeFriendBtn = document.querySelector('.friend-remove');

    if (removeFriendBtn) {
        removeFriendBtn.addEventListener('click', event => {
            const userId = event.target.dataset.friendsWith;
            fetch(`/users/${userId}/friends`, {
                method: 'DELETE'
            }).then(data => {
                console.log(data);
                return data.text();
            }).then(data => {
                console.log(data);
            })
        });

    }


    const posts = document.querySelector('.posts');
    posts.addEventListener('click', event => {
        const post = event.target.closest('[data-post-id]');
        if (!post) return;
        if (event.target.classList.contains('like-post-button')) {
            const postId = post.dataset.postId;
            if (!postId) return;

            fetch(`/posts/${postId}/likes`, {
                method: 'POST'
            }).then(data => {
                console.log(data);
                return data.text();
            }).then(data => {
                console.log(data);
            })
        } else if (event.target.classList.contains('like-comment-button')) {
            const postId = event.target.dataset.likeTo;

            fetch(`/comments/${postId}/likes`, {
                method: 'POST'
            }).then(data => {
                console.log(data);
                return data.text();
            }).then(data => {
                console.log(data);
            })
        } else if (event.target.classList.contains('unlike-post-button')) {
            const postId = event.target.dataset.postId;

            fetch(`/posts/${postId}/likes`, {
                method: 'delete'
            }).then(data => {
                console.log(data);
                return data.text();
            }).then(data => {
                console.log(data);
            })
        } else if (event.target.classList.contains('unlike-comment-button')) {
            const postId = event.target.dataset.likeTo;            

            fetch(`/comments/${postId}/likes`, {
                method: 'delete'
            }).then(data => {
                console.log(data);
                return data.text();
            }).then(data => {
                console.log(data);
            })
        }
    });
</script>
</body>
</html>